{% extends 'bootstrap.html' %} {% block content %}

<form method="POST" action="">
  <div class="main">
    {% csrf_token%}
    <input
      type="text"
      class="input"
      name="name"
      placeholder="Enter new item..."
    />
  </div>
  <input type="submit" class="add" value="Add" />
</form>
<div class="items">
  {% for item in items %}
  <div class="item">
    {% if item.is_done %}
    <p style="text-decoration: line-through" class="new_p">{{item.name}}</p>
    {% else %}
    <p class="new_p">{{item.name}}</p>
    {% endif %}
    <a href="{% url 'done' item.id %}" class="done">Done</a>
    <a href="{% url 'delete' item.id %}" class="del">Delete</a>
  </div>
  {% endfor %}
</div>

{% endblock content%}
