{% extends 'bootstrap.html' %} {% block content %}

<div class="containe" id="cont1">
  <div>
  

  <div>{% include 'list.html' %}</div>
  </div>

  <div class="container" id="cont2">
  <div>
    <h2 style="color: white;"><u>Add Task</h2></u>
  </div>

  <div>
    <form method="POST" , action="">
      {% csrf_token%}
      <div class="form">
        <label for="">Task</label>
        {{form.name}}
      </div>

      <div class="form">
        <label for="">Deadline </label>
        {{form.deadline}}
      </div>
      <input type="submit" value="Submit"/>
    </form>
  </div>
</div>
</div>
{% endblock content%}
